<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/flower.css">
    <title th:text="${flower.composition}"></title>
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/cart">Cart</a></li>
            <li><a href="/">Main</a></li>
          </ul>
        </nav>
      </header>
    <h1 th:text="${flower.composition}"></h1>
    <div class="gallery_wrapper">
        <div class="image_wrapper" th:each="image : ${flower.images}">
            <img  class = "flower_img"th:src="${image.path}" alt="photo">
        </div>
      </div>
    <div class="inf_wrapper">
      <p>Price: <span th:text="${flower.price}"></span></p>
      <p>Weight: <span th:text="${flower.weight}"></span></p>
      <p>Dimensions: <span th:text="${flower.dimensions}"></span></p>
      <p>Durability: <span th:text="${flower.durability}"></span></p>
    </div>
    <form th:action="@{/cart/add}" th:object="${flower}" method="post">
        <input type="hidden" name="flowerId" th:value="${flower.id}">
        <button type="submit">Add To Cart</button>
    </form>

</body>
</html>