<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns="http:/www.w3.org/1999/xhtml"
    lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" rel="stylesheet" />
    <title>Registration</title>
</head>
<body>
    <div class="form_wrapper">
        
        <form class="register-form"  action = "#" th:action="@{/registration}" method="post" th:object ="${user}">
            <h1>Register</h1>
            <input type="username" name="username" placeholder="Username" th:field="*{username}" required>
            <input type="email  " name="email" placeholder="Email" th:field="*{email}" required>
            <input type="password" name="password" placeholder="Password"  th:field="*{password}" required>
            <span>Already have an account? <a href="/login">Log in</a></span>
            <button type="submit">Register</button>
        </form>  
    </div>
</body>
</html>